<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{name}}</title>
  </head>
  <body>
    <h1>Hello, {{type}}{{name}}!</h1>
    <h2>Friends:</h2>
    <ul>
      {{#each friends}}
      <li>{{name}}</li>
      {{/each}}
    </ul>
  </body>
</html>
