// Header
.header {
  .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .btn + .btn {
    margin-left: 3px;
  }
}

.divider {
  display: inline-block;
  height: 30px;
  margin-left: 6px;
  margin-right: 6px;
  border-left: 1px solid #eee;
  vertical-align: middle;
}

.app-title {
  margin: 0 15px 0 0;
  line-height: 30px;
  font-size: $font-size-large;
  font-weight: bold;
  color: $brand-primary;
  cursor: default;
  .glyphicon {
    top: 2px;
    margin-right: 0.1em;
  }
}

// Form
.form {
  h3 {
    font-size: 18px;
  }
  legend {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.schema-form-array {
  .close {
    position: absolute !important;
    top: 3px;
    right: 6px;
  }
}

.ui-sortable-helper {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

// Preview
.preview {
  width: $preview-width;
}

.form-inline label {
  margin-right: 0.3em;
}

.frame {
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
  background-image: url(../images/devices.png);
  background-repeat: no-repeat;
  background-size: 1080px 720px;
}

.df-profile-pc {
  height: 585px;
  padding: 25px 1px 1px;
  background-position: 0 0;
}
.df-profile-tablet {
  height: 510px;
  padding: 47px 24px;
  background-position: -360px 0;
}
.df-profile-smartphone {
  height: 720px;
  padding: 83px 25px 86px;
  background-position: -720px 0;
}

.viewport {
  background-color: #fff;
  transform-origin: 0 0;
}

// Notifier
.notifier {
  $width: 200px;
  $offset: 35px;
  display: block;
  position: fixed;
  top: -$offset;
  left: 50%;
  z-index: 2;
  width: $width;
  min-height: 28px;
  margin-left: -$width / 2;
  padding: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition-property: transform;
  transition-duration: 0.2s;
  &.in {
    transform: translate(0, $offset);
  }
}

.notifier-error {
  color: #fff;
  background-color: $brand-danger;
}
