// Header
.header {
  .container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .btn + .btn {
    margin-left: 3px;
  }
}

.divider {
  display: inline-block;
  height: 30px;
  margin-left: 6px;
  margin-right: 6px;
  border-left: 1px solid #eee;
  vertical-align: middle;
}

.app-title {
  margin: 0 15px 0 0;
  line-height: 30px;
  font-size: $font-size-large;
  font-weight: bold;
  color: $brand-primary;
  cursor: default;
  .glyphicon {
    top: 2px;
    margin-right: 0.1em;
  }
}

// Form
.form {
  h3 {
    font-size: 18px;
  }
  legend {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.schema-form-array {
  .close {
    position: absolute !important;
    top: 3px;
    right: 6px;
  }
}

.ui-sortable-helper {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

// Preview
.preview {
  width: $preview-width;
}

.form-inline label {
  margin-right: 0.3em;
}

.frame {
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
}

.viewport {
  background-color: #fff;
  transform-origin: 0 0;
}

@mixin device-frame($width, $height, $padding-top, $padding-side) {
  height: $height;
  padding: $padding-top $padding-side 0;
  background-size: $width $height;
  background-repeat: no-repeat;
}

.frame-pc {
  background-image: url(../images/pc.png);
  @include device-frame(360px, 585px, 25px, 1px);
}
.frame-tablet {
  background-image: url(../images/tablet.png);
  @include device-frame(360px, 510px, 47px, 24px);
}
.frame-smartphone {
  background-image: url(../images/smartphone.png);
  @include device-frame(360px, 720px, 83px, 25px);
}

// Notifier
.notifier {
  $width: 200px;
  $offset: 35px;
  display: block;
  position: fixed;
  top: -$offset;
  left: 50%;
  z-index: 2;
  width: $width;
  min-height: 28px;
  margin-left: -$width / 2;
  padding: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition-property: transform;
  transition-duration: 0.2s;
  &.in {
    transform: translate(0, $offset);
  }
}

.notifier-error {
  color: #fff;
  background-color: $brand-danger;
}
