// Web fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:600,400");

// Application config
$container-width: 970px;
$container-width-large: 1170px;
$preview-width: 360px;

// Bootstrap config
$brand-primary: #dd6814;
$brand-success: #38b44a;
$brand-info: #772953;
$brand-warning: #efb73e;
$brand-danger: #df382c;
$link-color: #08c;
$link-hover-color: darken($link-color, 10%);
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 13px;
$font-size-small: 11px;
$headings-font-weight: 600;
$icon-font-path: "../fonts/";
$padding-base-vertical: 5px;
$padding-base-horizontal: 10px;
$padding-large-vertical: 6px;
$padding-large-horizontal: 12px;
$padding-small-vertical: 2px;
$padding-small-horizontal: 7px;
$padding-xs-vertical: 1px;
$padding-xs-horizontal: 5px;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$btn-default-bg: #eaeaea;
$input-bg-disabled: #f0f0f0;
$input-border-focus: #3998e3;
$cursor-disabled: default;
$state-success-text: darken($brand-success, 5%);
$state-danger-text: darken($brand-danger, 5%);

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// Override and extend Bootstrap style
@mixin form-control-focus-override($color: $input-border-focus) {
  &:focus {
    border-color: $color;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 2px rgba(lighten($color, 10%), 0.6);
  }
}

.form-control {
  transition: border-color ease-in-out 0.1s, box-shadow ease-in-out 0.1s;
  @include form-control-focus-override();
}
select.form-control {
  width: auto;
}
textarea.form-control {
  min-height: 100px;
  resize: vertical;
}

.has-success {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label {
    color: inherit;
  }
  .form-control {
    border-color: $input-border;
    @include form-control-focus-override();
  }
}
.has-warning {
  .form-control {
    @include form-control-focus-override($state-warning-text);
  }
}
.has-error {
  .form-control {
    @include form-control-focus-override($state-danger-text);
  }
}

.btn {
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 0.1s;
  &:focus,
  &:active:focus {
    outline: none;
  }
}

.btn-default {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-color: darken($btn-default-bg, 6%);
        border-color: darken($btn-default-border, 8%);
  }
}
.btn-link {
  box-shadow: none;
}

.close {
  &:focus,
  &:active:focus {
    outline: none;
  }
}

// AngualrJS
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
