<!doctype html>
<html lang="en" ng-app="webpageToolkit">
  <head>
    <meta charset="urf-8">
    <title>Web Page Toolkit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- build:css assets/styles/app.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <link rel="stylesheet" href="assets/styles/main.css">
    <!-- endbuild -->
    <!-- build:js assets/scripts/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-controller="FormController">
    <header class="header">
      <div class="container clearfix">
        <h1 class="pull-left app-title"><span class="glyphicon glyphicon-blackboard"></span> Web Page Toolkit</h1>
        <div class="pull-right">
          <button class="btn btn-default" ng-click="reset()">Reset all</button>
          <span class="divider"></span>
          <button class="btn btn-default" ng-file-select ng-model="importFiles" accept=".json">Import</button>
          <button class="btn btn-default" ng-click="downloadJson()">Export</button>
          <button class="btn btn-primary" ng-click="downloadHtml()">Download HTML</button>
        </div>
      </div>
    </header>
    <div class="content container">
      <div class="row" ng-cloak ng-show="initialized">
        <div class="col-sm-7 col-main">
          <form name="appForm" class="form" novalidate>
            <div sf-schema="schema" sf-form="form" sf-model="model"></div>
          </form>
        </div>
        <div class="col-sm-5 col-sub">
          <div class="preview" data-spy="affix">
            <div class="form-inline clearfix">
              <div class="form-group pull-left">
                <label>Device</label>
                <select class="form-control" ng-model="previewDevice">
                  <option value="pc">PC</option>
                  <option value="tablet">Tablet</option>
                  <option value="smartphone">Smartphone</option>
                </select>
              </div>
              <div class="pull-right">
                <a class="btn btn-default" title="Preview in new window" ng-click="openPreview()">
                  <span class="glyphicon glyphicon-new-window"></span>
                </a>
              </div>
            </div>
            <div class="viewport-wrapper viewport-{{previewDevice}}">
              <div class="embed-responsive">
                <iframe id="viewport" class="viewport"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="notifier notifier-error" ng-class="{in:errorShown}">{{errorMessage}}</div>
    <!-- build:js assets/scripts/app.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="/bower_components/lodash/lodash.js"></script>
    <script src="/bower_components/handlebars/handlebars.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/tv4/tv4.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/objectpath/lib/ObjectPath.js"></script>
    <script src="/bower_components/angular-schema-form/dist/schema-form.js"></script>
    <script src="/bower_components/angular-schema-form/dist/bootstrap-decorator.js"></script>
    <script src="/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="/bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="/bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <!-- endbower -->
    <script src="assets/scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
